<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<!-- Encrypt your connection strings (See https://msdn.microsoft.com/en-us/library/dtkwfdky.aspx). -->
	<add name="MyAbilityFirstDbContext"
	 connectionString="Data Source=tcp:mafdb.database.windows.net,1433;Initial Catalog=MAF;
	 User Id=myabilityfirst@mafdb.database.windows.net;Password=AngryCh1ck3n;  MultipleActiveResultSets=true;"
	 providerName="System.Data.SqlClient"
	/>
</connectionStrings>


