<!DOCTYPE html>
<body>
	<p>
		Hi @Model.CoordinatorFirstName,
	</p>

	<p>
		@Model.Message  
	</p>

	<p>
		<a href="@Model.CallbackURL/coordinator/myaccount/">View the request here</a> to respond.
	</p>

	<p>
		Regards,<br />
		My Ability First
	</p>
</body>
